<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hellotamila.ah_and_001_security">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/security_logo1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/security_logo1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomePage"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ValidateOtp" />
        <activity android:name=".ValidateOtp_SignUp"></activity>
        <activity android:name=".Grid_Set_Prompt" />
        <activity android:name=".Grid_Confirm_Prompt" />
        <activity android:name=".SignUp_Final" />
        <activity android:name=".Grid_Set_PromptFor_Other" />
        <activity android:name=".Information"></activity>
        <activity android:name=".Signup"></activity>
        <activity android:name=".Login"></activity>
        <activity android:name=".ChangeImei"></activity>
        <activity android:name=".User_BankPage"></activity>
        <activity android:name=".Webform"></activity>
        <activity android:name=".MyTransactions"></activity>
    </application>

</manifest>