<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.and_af_tourist"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.ag_and_002_tourist.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.ag_and_002_tourist.AddBus" >
        </activity>
        <activity android:name="com.example.ag_and_002_tourist.AddHotel" >
        </activity>
        <activity android:name="com.example.ag_and_002_tourist.AddPlaces" >
        </activity>
        <activity android:name="com.example.ag_and_002_tourist.AddRoute" >
        </activity>
        <activity android:name="com.example.ag_and_002_tourist.AdminBusEdit" >
        </activity>
        <activity android:name="com.example.ag_and_002_tourist.AdminLoginPage" >
        </activity>
        <activity android:name="com.example.ag_and_002_tourist.AdminMainPage" >
        </activity>
        <activity android:name="com.example.ag_and_002_tourist.ListBus" >
        </activity>
        <activity android:name="com.example.ag_and_002_tourist.userhome" >
        </activity>
        <activity android:name="com.example.ag_and_002_tourist.UserViewBus" >
        </activity>
        <activity android:name="com.example.ag_and_002_tourist.ListPlaces" >
        </activity>
    </application>

</manifest>